<% include partials/header %>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 style="text-align:center;">Login</h1>
            <div style="width:30%; margin: 25px auto;">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <input required class="form-control" type="text" name="username" placeholder="Username" />
                    </div>
                    <div class="form-group">
                        <input required class="form-control" type="password" name="password" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-raised btn-success btn-lg btn-block">Submit!</button>
                    </div>
                    <a class="btn btn-raised btn-info" href="/hotels">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>